
.comp {
    position: absolute;
}

.comp img {
    width: 100%;
    display: block;
}

.comps-arrows {
    position: absolute;
    width: 100%;
    /*border: 1px solid red;*/
}

.comps-desc {
    display: none;
    background: #fff;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    color: #000000;
    position: absolute;
    text-align: left;
    white-space: normal;
}



.comps-title {
    position: absolute;
    /*height: 26px;*/
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    padding: 2px 3px;
    z-index: 1;

    background: rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

.comps-title.open {
    z-index: 999;
}

.comps-title.open .comps-desc {
    display: block;
    z-index: 999;

    /*bottom: 0*/
}

/*/!*.comps-title .comps-desc { right: 100% }*!/*/
/*.comps-title.tol.open .comps-desc { right: -50%; }*/
/*.comps-title.tor.open .comps-desc { left: -50%; }*/
/*/!*.comps-title.down.open .comps-desc { top: 100% }*!/*/

.comps-title.tor { text-align: right }

.comps-title.left.tol.open .comps-desc { left: -330px; bottom: -200%; }
.comps-title.right.tor.open .comps-desc { right: -330px; bottom: -200%; }

.comps-title.down.tol.open .comps-desc { left: -30px; top: 30px; }
.comps-title.down.tor.open .comps-desc { right: -40px; top: 30px; }

.comps-title.up.tol.open .comps-desc { left: -30px; bottom: 30px; }
.comps-title.up.tor.open .comps-desc { right: -30px; bottom: 30px; }



@media only screen and (max-device-width: 768px) {
    .comps-desc {
        width: 150px;
        font-size: 10px;
    }

    .comps-title.left.tol.open .comps-desc { left: -220px; bottom: -200%; }
    .comps-title.right.tor.open .comps-desc { right: -220px; bottom: -200%; }

    .comps-title.down.tol.open .comps-desc { left: -30px; top: 30px; }
    .comps-title.down.tor.open .comps-desc { right: -40px; top: 30px; }

    .comps-title.up.tol.open .comps-desc { left: -30px; bottom: 30px; }
}


.comps-title.tol:before,
.comps-title.tor:after {
    content: '';
    width: 100%;
    height: 100%;
    min-height: 26px;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: -3px;
    cursor: pointer;
}

.comps-title.tor:after {
    display: inline-block;
    left: 100%;
    margin-left: 3px;
}

.comps-title.up:before,
.comps-title.up:after {
    background: url(/assets/images/arr-up.png) no-repeat;
}


.comps-title.down:before,
.comps-title.down:after {
    background: url(/assets/images/arr-down.png) no-repeat;
}

.comps-title.left:before,
.comps-title.left:after {
    background: url(/assets/images/arr-left.png) no-repeat;
}

.comps-title.right:before,
.comps-title.right:after {
    background: url(/assets/images/arr-right.png) no-repeat;
}


.hcomp1 {
    max-width: 139px;
    width: 11.5vw;
    left: 2.5%;
    top: 2%
}

.hcomp2 {
    max-width: 149px;
    width: 12vw;
    right: 49%;
    top: 5%
}

.hcomp3 {
    max-width: 103px;
    width: 9.5vw;
    right: 30%;
    top: 10%
}


.hcomp4 {
    max-width: 176px;
    width: 13.5vw;
    left: 0%;
    top: 44%
}

.hcomp5 {
    max-width: 136px;
    width: 11vw;
    left: 0%;
    bottom: 0%
}


.hcomp6 {
    max-width: 94px;
    width: 8.5vw;
    left: 22%;
    bottom: 7%
}


.hcomp7 {
    max-width: 126px;
    width: 10.8vw;
    right: 48.5%;
    bottom: 0%
}


.hcomp8 {
    max-width: 150px;
    width: 12vw;
    right: 32%;
    bottom: 10%
}


.hcomp9 {
    max-width: 130px;
    width: 11vw;
    right: 28%;
    bottom: 35%;
}


@media only screen and (max-device-width: 768px) {
    .hcomp1 { left: 25%; }
    .hcomp2 { right: 27%; }
    .hcomp3 { right: 5%; }
    .hcomp4 { left: 22%; }
    .hcomp5 { left: 15%; }
    .hcomp6 { left: 35%; }
    .hcomp7 { right: 32%; }
    .hcomp8 { right: 17%; }
    .hcomp9 { right: 15%; }
}


.hcomp1 .comps-title { left: -50px; top: 100px; }
.hcomp2 .comps-title { left: -70px; top: 40px; }
.hcomp3 .comps-title { left: -25px; top: 0px; }
.hcomp4 .comps-title { left: -15px; top: -15px; }
.hcomp5 .comps-title { left: -55px; top: 25px; }
.hcomp6 .comps-title { left: 50px; bottom: -10px; }
.hcomp7 .comps-title { left: -30px; top: 10px; }
.hcomp8 .comps-title { left: 100px; top: 40px; }
.hcomp9 .comps-title { right: 40px; top: -20px; }



.ncomp1 {
    max-width: 137px;
    width: 11.5vw;
    right: 77%;
    top: 5%
}


.ncomp2 {
    max-width: 147px;
    width: 12vw;
    right: 53%;
    top: 8%
}


.ncomp3 {
    max-width: 109px;
    width: 6.5vw;
    right: 37%;
    top: 20%
}


.ncomp4 {
    max-width: 185px;
    width: 16vw;
    right: 24%;
    top: 2%
}


.ncomp5 {
    max-width: 190px;
    width: 16vw;
    right: 60%;
    top: 40.5%
}


.ncomp6 {
    max-width: 131px;
    width: 11vw;
    right: 21%;
    top: 29%
}


.ncomp7 {
    max-width: 100px;
    width: 11.2vw;
    right: 80%;
    bottom: 5.5%
}


.ncomp8 {
    max-width: 150px;
    width: 13.5vw;
    right: 56%;
    bottom: 0%
}


.ncomp9 {
    max-width: 146px;
    width: 12vw;
    right: 26%;
    bottom: 23%
}

.ncomp10 {
    max-width: 147px;
    width: 12vw;
    right: 23%;
    bottom: 0%;
}


.ncomp11 {
    max-width: 126px;
    width: 10.5vw;
    right: 43%;
    bottom: 0px;
}


@media only screen and (max-device-width: 768px) {
    .ncomp1 { right: 65%; }
    .ncomp2 { right: 40%; }
    .ncomp3 { right: 25%; }
    .ncomp4 { right: 10%; }
    .ncomp5 { left: 20%; }
    .ncomp6 { right: 5%; }
    .ncomp7 { left: 10%; }
    .ncomp8 { left: 27%; }
    .ncomp9 { right: 15%; }
    .ncomp10 { right: 12%; }
    .ncomp11 { right: 30%; }
}


.ncomp1 .comps-title { left: -60px; top: 100px; }
.ncomp2 .comps-title { left: -30px; top: -15px; }
.ncomp3 .comps-title { left: 30px; top: 40px; }
.ncomp4 .comps-title { left: 0px; top: 50px; }
.ncomp5 .comps-title { left: -55px; top: 30px; }
.ncomp6 .comps-title { left: -60px; top: 40px; }
.ncomp7 .comps-title { right: 50px; top: 20px; }
.ncomp8 .comps-title { left: -75px; bottom: 20px; }
.ncomp9 .comps-title { left: -30px; top: 30px; }
.ncomp10 .comps-title { left: -20px; top: -25px; }
.ncomp11 .comps-title { left: -40px; top: 20px; }



.ycomp1 {
    max-width: 141px;
    width: 11vw;
    right: 79%;
    top: 7%
}


.ycomp2 {
    max-width: 141px;
    width: 11vw;
    right: 57%;
    top: 11%
}


.ycomp3 {
    max-width: 116px;
    width: 9vw;
    right: 41%;
    top: 9%
}


.ycomp4 {
    max-width: 148px;
    width: 12vw;
    right: 21%;
    top: 11%
}


.ycomp5 {
    max-width: 187px;
    width: 14vw;
    right: 70%;
    top: 44%
}


.ycomp6 {
    max-width: 196px;
    width: 15.5vw;
    right: 25%;
    top: 34%
}


.ycomp7 {
    max-width: 152px;
    width: 13vw;
    right: 77%;
    bottom: 3%
}


.ycomp8 {
    max-width: 111px;
    width: 8vw;
    right: 62%;
    bottom: 0%
}


.ycomp9 {
    max-width: 182px;
    width: 15vw;
    right: 24%;
    bottom: 0%
}


.ycomp10 {
    max-width: 129px;
    width: 10.5vw;
    right: 50%;
    bottom: 0%
}

@media only screen and (max-device-width: 768px) {
    .ycomp1 { right: 65%; }
    .ycomp2 { right: 42%; }
    .ycomp3 { right: 25%; }
    .ycomp4 { right: 5%; }
    .ycomp5 { left: 17%; }
    .ycomp6 { right: 11%; }
    .ycomp7 { left: 13%; }
    .ycomp8 { left: 37%; }
    .ycomp9 { right: 10%; }
    .ycomp10 { right: 35%; }
}


.ycomp1 .comps-title { left: -60px; top: 100px; }
.ycomp2 .comps-title { left: -40px; top: -5px; }
.ycomp3 .comps-title { right: 45%; top: 0px; }
.ycomp4 .comps-title { left: -35%; top: 50px; }
.ycomp5 .comps-title { left: 0px; top: 0px; }
.ycomp6 .comps-title { left: 30px; top: 15%; }
.ycomp7 .comps-title { left: 30%; top: -10px; }
.ycomp8 .comps-title { right: 50%; bottom: 10px; }
.ycomp9 .comps-title { left: 0%; top: 20px; }
.ycomp10 .comps-title { left: 0px; top: 30px; }
