
@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);


.fotorama__nav--dots {
    position: absolute;
    bottom: 0px;
    display: none;
}

.fotorama__arr--prev,
.fotorama__arr--next {
    background: url("/assets/images/slider-arrow-right.png");
    background-position: 0 0;
    width: 48px;
    height: 48px;
    right: 30px;
}

.fotorama__arr--prev {
    background: url("/assets/images/slider-arrow-left.png");
    left: 30px;
}


.wysiwyg {
}

.sostav {
    padding-right: 30px;
}

.sostav.wysiwyg li {
    list-style: none;
}

.wysiwyg p {
    padding-bottom: 15px;
}


body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    font-size: 14px;
}


.h {
    font-family: 'Philosopher', sans-serif;
}


.h1 {
    font-size: 90px;
    text-transform: uppercase;
}


sup, sub {
    font-size: 70%;
}

sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

small {
    font-size: 70%;
}

a {
    color: #525252;
}

.body-tbl {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
}


.header {
    height: 120px;
    background-color: #eae0d6;
}


.header .body-tbl {
    height: 120px;
}

.body-tbl td {
    vertical-align: top;
}

.arnament-col {
    /*width: 102px;*/
    width: 8.225%;
}

.logo-col {
    /*width: 88px;*/
    width: 7.096%;
}

.arnament {
    background-image: url(/assets/images/tea-arnament-general.png);
}

.nomad .arnament { background-image: url(/assets/images/arnament-nomad.png); }
.hammam .arnament { background-image: url(/assets/images/arnament-hammam.png); }
.yoga .arnament { background-image: url(/assets/images/arnament-yoga.png); }

.logo {
    background-color: #9fa776;
}

.nomad .logo { background-color: #ed706c; }
.hammam .logo { background-color: #59c5c8; }
.yoga .logo { background-color: #b64e99; }

.logo img {
    width: 100%;
    display: block;
    /*border: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

.menu-cell {
    position: relative;
}

.menu {
    position: absolute;
    bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    margin-left: -20px;
    white-space: nowrap;
    font-size: 0 !important;
}

.menu.lang-menu {
    right: 14%;
}

.menu li {
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.menu > li a, .menu > li {
    color: #85807c;
    position: relative;
    text-decoration: none;
}

.menu > li:hover, .menu > li.active {
    background: #dacec0;
}

.menu li > ul {
    display: none;
    /*min-width: 80%;*/
    min-width: 100%;
}

.menu li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 999;
    background: #eae0d6;
    /*padding: 7px 15px 3px;*/
    /*padding: 6% 10%;*/
    /*margin: 0 10%;*/
}

.menu li:hover > ul li {
    padding: 3% 0;
    display: block;
    width: 100%;
}

.menu li:hover > ul li a {
    padding: 0 20px;
}

.arrow-down {
    content: ' ';
    background: url(/assets/images/arrow-down.png);
    background-size: 100% 100%;
    display: inline-block;
    width: 9px;
    height: 6px;
}

.tea-menu {
    font-size: 0;
    padding-top: 30px;
    vertical-align: top;
}

.tea-menu-item {
    font-size: 16px;
    display: inline-block;
    float: left;
    width: 33%;;
}

.tea-menu-item .menu-link {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.tea-menu-item:hover .menu-link {
    -webkit-transform: translate(0, -1em);
    -moz-transform: translate(0, -1em);
    -o-transform: translate(0, -1em);
    -ms-transform: translate(0, -1em);
    transform: translate(0, -1em);
}

.menu-link {
    float: left;
    text-decoration: none;
}

.text-link-container a {
    text-decoration: none !important;
}

.text-link-container .arrow2 {
    display: block;
    padding-bottom: 5px;
}


.content {
    height: 100%;
    position: relative;
    padding: 30px 25px 10px 30px;

}

.hammam .comps {
    background-image: url(/assets/images/hammam/comps_bg.png);
    position: relative;
}


.nomad .comps {
    background-image: url(/assets/images/nomad/comps_bg.png);
    position: relative;
}


.yoga .comps {
    background-image: url(/assets/images/yoga/comps_bg.png);
    position: relative;
    /*color: #000000;*/
}


.comps .comps-list {
    position: absolute;
    right: 10px;
    width: 58%;
    /*border: 1px solid white;*/
    height: 100%;
}


.yoga .comps-list {
    width: 60%;
}


.text {
    background-color: #a2a1a6;
}

.text.light {
    background-color: #B1C1C0;
}

.comps .content {
    background-color: inherit !important;
}

.nomad .content {
    background-color: #a2a1a6;
}

.hammam .content {
    background-color: #f87b60;
}

.yoga .content {
    background-color: #ddb245;
}


.nomad .content .h {
    color: #ed706c;
    text-shadow: rgba(255, 255, 255, 0.5) 0px -2px 2px, rgba(237, 112, 108, 1) 0px -2px 2px, rgba(0, 0, 0, 0.5) 0px 1px 1px, rgba(237, 112, 108, 1) 0px 1px 2px;
}

.hammam .content .h {
    color: #59c5c8;
    text-shadow: rgba(255, 255, 255, 0.5) 0px -2px 2px, rgba(89, 197, 200, 1) 0px -2px 2px, rgba(0, 0, 0, 0.5) 0px 1px 1px, rgba(89, 197, 200, 1) 0px 1px 2px;
}

.yoga .content .h {
    color: #b64e99;
    text-shadow: rgba(255, 255, 255, 0.5) 0px -2px 2px, rgba(182, 78, 153, 1) 0px -2px 2px, rgba(0, 0, 0, 0.5) 0px 1px 1px, rgba(182, 78, 153, 1) 0px 1px 2px;
}


.left-col, .right-col {
    display: table-cell;
    vertical-align: top;
    width: 30%;
}

.right-col {
    width: 70%;
}

.sub-h {
    display: inline-block;
    color: #fff;
    font-family: Philosopher;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    min-width: 210px;
    max-width: 210px;
    border-radius: 0 20px 0 20px;
    margin: 10px 0 20px;
    padding: 2px 5px;
}

.sub-h::first-line {
    text-align: left;
    font-size: 20px;
}

.sub-h b {
    font-size: 25px;
}


.nomad .sub-h {
    background: #ed706c;
}


.yoga .sub-h {
    background: #b64e99;
}


.hammam .sub-h {
    background: #59c5c8;
}


.tea-desc {
    padding-top: 20px;
}


.instruction-link {
    position: absolute;
    bottom: 0px;
    right: 150px;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 0 10px 0 10px;
    z-index: 999;
}

.instruction-link a {
    color: #fff;
}

.nomad .instruction-link { background: #ed706c; }
.yoga .instruction-link { background: #b64e99; }
.hammam .instruction-link { background: #59c5c8; }


.about-section {
    padding-bottom: 15px;
}

.about-pic {
    display: table-cell;
    padding-right: 15px;
    width: 10%;
    padding-bottom: 20px;
    /*border: 1px solid red;*/
}

.about-pic-text {
    display: table-cell;
    vertical-align: middle;
    padding-right: 300px;
    /*width: 50%;*/
    /*border: 1px solid red;*/

}

.about-text {
    padding-bottom: 30px;
}


.picture-content img {
    display: block;
}


.icons {
    border-radius: 0 20px 0 20px;
    color: #fff;
    padding: 0px 5px 15px 15px;
    font-size: 13px;
    width: 310px;
    /*width: 100%;*/
    position: relative;
}


.icons li {
   padding-left: 65px;
   position: relative;
}


.icons li::first-letter {
       text-transform: uppercase;
 }


.icons li i {
   display: inline-block;
   height: 60px;
   width:  65px;
   position: absolute;
   bottom: 0;
   left: 0;
   background-position: bottom center;
   background-repeat: no-repeat;
 }


.icons li span {
   display: table-cell;
   height: 60px;
   vertical-align: middle;
 }


.cup {
    position: absolute;
    background-repeat: no-repeat;
}


.hammam .cup {
    background-image: url(/assets//images/cup-hammam.png);
    width: 151px;
    height: 132px;
    left: 280px;
    bottom: -50px;
}


.nomad .cup {
    background-image: url(/assets//images/cup-nomad.png);
    width: 151px;
    height: 132px;
    left: 280px;
    bottom: -85px;
}


.yoga .cup {
    background-image: url(/assets//images/cup-yoga.png);
    width: 151px;
    height: 132px;
    left: 292px;
    bottom: -50px;
}


@media only screen and (max-device-width: 768px) {
    .cup {
        display: none;
    }
}


.nomad .icons .ico1 { background-image: url(/assets//images/ico1-nomad.png); }
.nomad .icons .ico2 { background-image: url(/assets//images/ico2-nomad.png); }
.nomad .icons .ico3 { background-image: url(/assets//images/ico3-nomad.png); }

.yoga .icons .ico1 { background-image: url(/assets//images/ico1-yoga.png); }
.yoga .icons .ico2 { background-image: url(/assets//images/ico2-yoga.png); }
.yoga .icons .ico3 { background-image: url(/assets//images/ico3-yoga.png); }

.hammam.icons { max-width: 260px; }
.hammam .icons .ico1 { background-image: url(/assets//images/ico1-hammam.png); }
.hammam .icons .ico2 { background-image: url(/assets//images/ico2-hammam.png); }
.hammam .icons .ico3 { background-image: url(/assets//images/ico3-hammam.png); }

.nomad .icons { background: #ed706c; }
.yoga .icons { background: #b64e99; }
.hammam .icons { background: #59c5c8; }


.icons:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 28px;
    top: -15px;
    right: -10px;
}

.nomad .icons:after {
    background-image: url(/assets/images/leaves-nomad.png);
}


.hammam .icons:after {
    background-image: url(/assets/images/leaves-hammam.png);
}

.yoga .icons:after {
    background-image: url(/assets/images/leaves-yoga.png);
}
